/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require plugins/bootstrap
*= require plugins/AdminLTE.min
*= require plugins/font-awesome.min
*= require plugins/ionicons.min
*= require plugins/sweetalert.css
*= require plugins/_all-skins.min
*= require plugins/fullcalendar.min
*= require plugins/fullcalendar.print
*= require mobile
*= require_self
*/


.ajBtnsemlabel
{
    padding-top:24px;
}

.ajNavBar{
    border-radius: 0px;
    margin-bottom: 0;
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}

.ajMainSideBar{
    padding-top: 0px;
}

.ajContentWrapper{
    margin-left: 0px;
}

.ajWrapper{
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

/*.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {*/
    /*background-color: #FFFF00;*/
    /*color: #FFC0CB;*/
/*}*/

